h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    color: white  !important;
}

h2 {
    text-align: center;
    color: white;
}

#intro, #footer {
    background-color: #7583ff;
    color: white;
}

.intro{
    height: 500px;
}

li a {
    color: white !important;
}
